#personas-storyboarding {
  background-color: #EDC7B7;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
}  

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
 width: 500px;
 border-radius: 50px;

}

nav {
  top: 0%;
  width: 100%;
  position: fixed;
  background-color: #AC3B61
}
.container {
  padding: 22px;
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.container ul li a:hover {
  padding: 20px;
  color: antiquewhite;
}
.container ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.active {
  border-bottom: 2px solid #d0d7d9;
}
.container p{
margin-bottom: 16px;
color: #fc0;
font-weight: 700;
font-size: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.vending-machine{
  border-radius: 50px;
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #AC3B61;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px;
}

.descriptions {
  padding: 100px
}
.user-experiences {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #EEE2DC;
}

#user-interviews {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  margin: 0 -5px;
}

.interview {
  background: gray;
  width: 500px;
  height: 500px;
  margin: 0 15px;
  border-radius: 50px;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #BAB2B5;
}

#empathy-maps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  margin: 0 50px;
}
.empathymap {
  background: gray;
  width: 500px;
  height: 500px;
  margin: 0 50px;
  border-radius: 50px;
}

.storyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
  background-color: #123C69;
}

.offsettitle {
  padding-top: 50px;
}

.offsettitle2 {
  padding-top: 100px;
}

#storyboard-frames{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
}

#emap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#storyboardf {
  width: 500px;
  height: 500px;
  margin: 0 50px;
  border-radius: 50px;
}

.takeaways {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #AC3B61;
}

.rubricq {
  width: 500px;
}

